.Button {
    background: darkslategrey;
    display: flex;
    
    border: 1px solid rgba(0,0,0,0.05);
    
    border-style: outset;
    border-color: rgb(40,40,40);
    border-width: 4px;

    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-size: 24px;
    color: rgba(200, 200, 200, 0.75);
    height: 20%;
    min-width: 25%;
  }
  
  .Button[data-size="2"] {
    height: 40%;
  }
  
  .Button[data-value="null"] {
    pointer-events: none;
  }
  
  .Button:hover {
    background: slategray;
    color: black;
    cursor: default;
  }
  